singularity.enabled = true

process {
        withName:HIMUT {
        cpus   = { check_max( 8                   , 'cpus'    ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'  ) }
        // publishDir = [
        //         path: { "${params.outdir}/himut" },
        //         mode: 'copy',
        //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        //     ]
    }
}
