/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/variantcalling -profile test_illumina,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test config for the Illumina sub-workflow'
    config_profile_description = 'A full test dataset to check pipeline function'

    // Input data for full size test
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = '/nfs/users/nfs_d/dp24/variantcalling/test/illumina/samplesheet.csv'

    // Genome references
    genome = 'ecoli_606'
}
